
# Dependencies
# IDE
# Logs
# Misc
# OS
# Optional eslint cache
# Optional npm cache directory
# Production
# Testing
# Yarn
*.log
*.pem
*.swo
*.swp
*~
.DS_Store
.env
.env*.local
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.idea/
.next/
.npm
.pnp
.pnp.*
.pnp.js
.pnpm-debug.log*
.vercel
.vim/
.vscode/
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
Thumbs.db
build/
coverage/
dist/
lerna-debug.log*
node_modules/
npm-debug.log*
out/
yarn-debug.log*
yarn-error.log*
